<form [formGroup]="form" style="padding: 12px;">
  <ng-container *ngFor="let entry of fields | keyvalue: keepKeyOrder">
    <mat-form-field
      *ngIf="
        entry.value.element.type === inputType.INPUT && entry.value as field
      "
      style="padding: 12px;"
    >
      <mat-label i18n>{{ field.displayName }}</mat-label>
      <input [formControl]="field.control" matInput />
      <mat-error
        i18n
        *ngIf="field.errorInfo && field.control.touched && !field.control.valid"
        >{{ field.errorInfo }}</mat-error
      >
    </mat-form-field>

    <mat-form-field
      *ngIf="
        entry.value.element.type === inputType.DROPDOWN && entry.value as field
      "
      appearance="legacy"
      style="padding: 12px;"
    >
      <mat-label>{{ field.displayName }}</mat-label>
      <mat-select [formControl]="field.control">
        <mat-option
          *ngFor="let entry of field.element.entries"
          [value]="entry.value"
        >
          {{ entry.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <button
    style="margin: 12px; float: right;"
    mat-flat-button
    color="primary"
    i18n
    [disabled]="form.invalid"
    (click)="onCreateAsset()"
  >
    Save Asset
  </button>
</form>
